.container {
        display: grid;
    grid-template-columns: 20% 20% 20% 20% ; 
    grid-template-rows: 25% 25% 25% 25% 25%; 
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}




.bloc-article-1 {
    background-color: white;
    
}

.bloc-article-2 {
    background-color: yellow;
}

.bloc-article-3 {
    background-color: orange;
}

.bloc-article-4 {
    background-color: orange;
}